body {
  font-family: sans-serif;
  background: #f8f4fb;
  margin: 0;
  padding: 0;
}

.detail-container {
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

.back-btn {
  font-size: 28px;
  text-decoration: none;
  color: #333;
  display: block;
  text-align: left;
  margin: 20px 0;
}

.title {
  font-size: 28px;
  margin: 10px 0 20px;
}

.image-box {
  width: 260px;
  height: 260px;
  margin: 0 auto;
  background: #eaeaea;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.no-image {
  color: #666;
  font-size: 14px;
}

.product-name {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.product-price {
  font-size: 22px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  margin: 20px 0 10px;
}

.description-box {
  width: 90%;
  margin: 0 auto 20px;
  padding: 10px;
  border: 1px solid #ccc;
  min-height: 100px;
  border-radius: 10px;
  background: #fff;
  text-align: left;
}

.cart-button {
  width: 90%;
  padding: 14px;
  background: #444;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
