.main {
  flex: 1;
  padding: 40px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.main-header button {
  background: none;
  border: none;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  color: #666;
}

.cart-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #d8d8d8;
  padding: 20px;
  margin-top: 30px;
  width: 80%;
}

.cart-item img {
  width: 150px;
  height: 150px;
  background-color: #eee;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-info h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.cart-info p {
  margin: 5px 0;
  color: #777;
  font-size: 14px;
}

.cart-info button {
  background-color: #f6f5f9;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 13px;
}

.cart-info button:hover {
  background-color: #eae6ff;
}